
<section class="cd-section" id="section1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-content">
          <h1> WHO I AM</h1>
          <div class="col-md-4">
            <div class="box-text">
              <h2>HISTORY</h2>
              <p>
                Constantly looking to improve my skills in these tools. My forte is to create the best back-end solutions and generate user interfaces with great visual appeal.
                Code quality and maintainable.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-img"><img src="images/office.jpg" alt=""/></div>
          </div>
          <div class="col-md-4">
            <div class="box-text">
              <h2>Personal data</h2>
              <p>E-mail: rubenabix@gmail.com</p>
              <h2>Profile</h2><a href="https://cr.linkedin.com/in/rubenabix" target="_blank">linkedin</a>
              <h2>Education</h2>
              <p>Tecnológico de Costa Rica</p>
              <p>Software engineering</p>
            </div>
          </div>
        </div>
        <!-- close box content-->
      </div>
    </div>
    <!-- close row-->
  </div>
  <!-- close container-->
  <div class="parallax1">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="box-img"><img src="https://nodejs.org/static/images/logos/nodejs-new-white-pantone.png" alt=""/></div>
            </div>
            <div class="col-md-4">
              <div class="box-text">
                <h2>WHAT I DO</h2>
                <p>I have a main focused for learning different languages and tools to generate dynamic and interactive web solutions that adapt to any device with the latest trends such as AngularJS, NodeJS, HapiJS and Html5.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-img"><img src="https://angular.io/resources/images/logos/angular2/angular.svg" alt=""/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cd-section-->